secrets.yaml
google_service_account.json
home-assistant_v2.db
.storage
.vscode
custom_components
home-assistant.log
.cloud
node-red/.config.json
node-red/.config.json.backup
node-red/.flows_cred.json.backup
node-red/.flows.json.backup
node-red/flows_cred.json
node-red/flows.json
node-red/node-red-contrib-home-assistant-websocket.json
node-red/package-lock.json
node-red/package.json
node-red/settings.js
node-red/*
home-assistant_v2.db-shm
home-assistant_v2.db-wal
image/*
www/community/lovelace-card-mod/*
themes/*
www/Doorbell-ring-chime.mp3
zigbee2mqtt/configuration.yaml
zigbee2mqtt/database.db
tts/a94a8fe5ccb19ba61c4c0873d391e987982fbbd3_en_-_google_translate.mp3
zigbee2mqtt/state.json
zigbee2mqtt/log/2021-03-02.13-42-22/log.txt
blueprints/automation/sbyx/low-battery-level-detection-notification-for-all-battery-sensors.yaml
blueprints/script/homeassistant/confirmable_notification.yaml
home-assistant.log.1
.gitignore
home-assistant.log.fault
blueprints/automation/Mr-Groch/offline-notification-for-sensors-with-last_seen.yaml
tts
ddons_config/filebrowser/filebrowser.dB
addons_config/filebrowser/filebrowser.dB
zigbeecode.txt
www/community/custom-sonos-card/
www/community/lovelace-slider-entity-row/
blueprints/automation/Blackshome/temperature-control-exhaust-fan.yaml
frigate.yaml
www/community/
esphome/
addons_config/
blueprints/
.timeline
.vacuum
frigate.db
frigate.db-shm
frigate.db-wal
www/community/comfortable-environment-card/comfortable-environment-card.js
www/community/comfortable-environment-card/comfortable-environment-card.js.gz
www/community/comfortable-environment-card/comfortable-environment-card.js.gz
www/community/comfortable-environment-card/comfortable-environment-card.js
backup.db
backup_config.yaml
www/community/comfortable-environment-card/comfortable-environment-card.js.gz
www/community/comfortable-environment-card/comfortable-environment-card.js
.jwt_secret
.exports
